<div class="jumbotron center">
	<h1>Welcome to the Merkle </h1>
	<h2> Home page for the <a href="http://www.merkleinc.com/">Merkle Inc.</a> recruitment. </h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<img alt="Rails" src="/assets/subscribe-page-weibo.jpg" />

